# Web Scrapping HTML table with R

In this notebook we will web scrape HTML tables with the help of rvest package which is part of a well known package for data science in R, called Tidyverse.

In [1]:
# Loading the package in our current environment.
# In case you dont have the package already installed in your system,use this command before to install the same:
# install.packages('rvest')
library('rvest')

Loading required package: xml2

We are going to extract some tables on this wikipedia page https://en.wikipedia.org/wiki/Table_(information)

In [2]:
# saving the url in a variable
url = 'https://en.wikipedia.org/wiki/Table_(information)'

In [3]:
# Creating a HTML document from the webpage
doc = read_html(url)

In [4]:
# By html_nodes() we can select parts of HTML content(using XPath and CSS selectors)
# Extracting out all the table format content 
tab = doc %>% html_nodes('table')

In [5]:
# Converting 1st table from the table list into R dataframe
tab1 = tab[[1]] %>% html_table

In [6]:
# R data structure of 'tab1' object
class(tab1)

[1] "data.frame"

In [7]:
# Printing out the dataframe
tab1

  First name Last name   Age
1 Tinu       Elejogun    14
2 Blaszczyk  Kostrzewski 25
3 Lily       McGarrett   18
4 Olatunkbo  Chijiaku    22
5 Adrienne   Anthoula    22
6 Axelia     Athanasios  22
7 Jon-Kabat  Zinn        22
8 Thabang    Mosoa       15
9 Kgaogelo   Mosoa       11

You can check out more other option from rvest package like html_text(), html_form(), etc.
Please visit the official page for rvest package https://rvest.tidyverse.org/